auto-save-list
backups
elpa
session.*
/url/
/tutorial/English.tut
/ac-comphist.dat
/places
/tramp
/.smex-items
/plugins/emacs-eim/
/ede-projects.el
/bookmarks
/google-c-style.el
/make-regexp.el
eshell
ido.last
recentf
